/* Auth.css */
.brand-title {
    color: #FC871F;
}

.brand-logo {
    width: 48px;
    height: 48px;
    margin-left: 16px;
    pointer-events: none;
    user-select: none;
}

.slide-up {
    animation: slideUp 1.5s ease-in-out;
}

.fade-in {
    animation: fadeIn 1.5s ease-in;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        position: relative;
        left: -50px;
        transform: scale(1.1);
        filter: blur(10px);
        opacity: 0;
    }

    50% {
        position: relative;
        left: 0px;
        transform: scale(1.0);
    }

    100% {
        filter: blur(0px);
        opacity: 1;
    }
}