@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Montserrat', sans-serif;
}

.hover-translate:hover .icon-translate {
    transform: translateX(10px);
    transition: transform 0.3s ease; 
}
